Manifest-Version: 1.0
Class-Path: $RUNTIMECLASSPATH$
Main-Class: org.obolibrary.cli.OBORunner
Specification-Title: oboparser
Sealed: true
Specification-Version: $VERSION$
Specification-Vendor: OBO Foundry
Implementation-Title: oboparser
Implementation-Version: build$BUILDNUM$_$BUILDDATE$
Implementation-Vendor: OBO Foundry
